

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/new-chat.css">
  <link rel="stylesheet" href="/chatStyle1.css">
</style>
<link rel='stylesheet' href='style.css' type='text/css'/>
<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
<script src="controllers/chat.js"></script>

</head>
<body>
  <header>
    <ul class="nav">
      <a href="/"><img id="logo" src="/images/logo.png"  alt=""></a>
      <li><a href="/users/new/profile">Profile</a></li>
      <li><a href="/shoes/new">Add Item</a></li>

      <li>
        <form action="/sessions?_method=DELETE" method="post">
          <input class="btn" type="submit" name="" value="logout">
        </form>
      </li>

    </ul>
  </header>
  <br>
  <div class="">
    
    <ul id="messages"></ul>
    <span id="notifyUser"></span>
    <form id="form" action="" onsubmit="return submitfunction();" >
      <input type="hidden" id="user" value="" /><input id="m"   placeholder="Type yor message here.." /><input type="submit" id="button" value="Send"/>
    </form>

  </div>

</body>
<footer class="footer">
  <ul class="nav">
    <p>Copyright &copy; Stanley Gorman</p>
  </ul>

</footer>

</html>
