<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/style.css">
    <style media="screen">
    #error{
      color: red;
    }
    </style>
  </head>
  <body>
<header>
  <ul class="nav">
    <img  id="logo" src="/images/logo.png"  alt="">
    <li><a href="/">Home</a></li>
    <li><a href="#">Release Date</a></li>
    <li><a href="/sessions/new">Log In</a></li>
    <li><a href="/users/new">Join</a></li>

  </ul>
</header>

<form class="form" action="/sessions" method="post">
  <div class="container-add-product">

    <label>Name:</label>  <input type="text" name="username" value="" required><br>
    <label>Password:</label>  <input type="password" name="password" value="" required><br>
      <input id="submit-add-page" type="submit" value="Sign In" >
  </div>
  <br>
  <p id= "error">Incorrect password, try again</p>

  </form>
  </body>
  <footer class="footer">
    <ul class="nav">
  <p>Copyright &copy; Stanley Gorman</p>
    </ul>

  </footer>

</html>
